.home-page-header {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start
}

.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 96%;
  }
}
.navbar-list a {
  color: #f2f2f2;
  text-decoration: none;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 16px;
}

.image-container {
  text-align: center;
}

.youtube-video-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .iframe {
    width: auto;
    height: auto;
  }
  
}

.table-container {
  margin: 16px;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.zIndex-parent-container {
  position: relative;
}

.zIndex-children {
  width: 75px;
  height: 75px;
  position: absolute;
}
#first {
  background-color: red;
  top: 10px;
  left: 10px;
  z-index: 3;
}
#second {
  background-color: blueviolet;
  top: 30px;
  left: 30px;
  z-index: 2;
}
#third {
  background-color: green;
  top: 50px;
  left: 50px;
  z-index: 1;
}
#fourth {
  background-color: yellow;
  top: 70px;
  left: 70px;
  z-index: 0;
}

.product-carousel-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .product-carousel-container {
    flex-direction: column;
  }
}

.sale-badge-1 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px;
  background: green;
  color: white;
}
.sale-badge-2 {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px;
  background: red;
  color: white;
}

.home-page-banner-container {
  position: relative;
}
.banner-text-section {
  position: absolute;
  top:50%;
  left:10%;
  color: white;

}
@media screen and (max-width: 600px) {
  .banner-text-section {
    top: 25%;
    left: 5%;
  }
  .banner-text-section h2 {
    font-size: 12px;
  }
  .banner-text-section p, .banner-button {
    font-size: 8px;
  }
}
.banner-image-section {
  img {
    width: -webkit-fill-available;
  }
}
.banner-button {
  padding: 1rem;
  font-weight: bold;
  background: forestgreen;
  color: white;
}
